.card {
    &__text {
        color: black;
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;

    &__btn {
        margin: 10px 10px 0 10px;
    }
}

label {
    padding-top: 5px;
}

.error {
    color: red;
}
